In [1]:
import pandas as pd
import sqlalchemy

Standard --- mysql+pymysql
username -- root
password -- root
link -- localhost
database name -- csvTest
## test database name -- data_2

Refernce Link used : https://docs.sqlalchemy.org/en/latest/core/connections.html

In [2]:
# engine = sqlalchemy.create_engine('mysql+pymysql://root:root@phpmyadmin.lan/csvTest')
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost/data_2')

In [3]:
# examples to get data from the database
df = pd.read_sql_table("table_name_for_df", engine)
df

,index,0,1,2,3
0,0,,31/03/2017,31/03/2016,31/03/2015
1,1,Balance sheet [Abstract],,,
2,2,Assets [Abstract],,,
3,3,Non-current assets [Abstract],,,
4,4,"Property, plant and equipment","53,514.57","48,595.62","48,898.08"
5,5,Capital work-in-progress,"3,167.94","5,322.92","6,987.43"
6,6,Other intangible assets,929.43,"1,054.62",496.25
7,7,Intangible assets under development,234.36,535.01,624.65
8,8,Non-current financial assets [Abstract],,,
9,9,Non-current investments,0,0,0
10,10,"Loans, non-current",111.34,111.57,138.9
11,11,Total non-current financial assets,111.34,111.57,138.9
12,12,Deferred tax assets (net),"(A) 4,809.59","(B) 4,352","(C) 4,170.61"
13,13,Other non-current assets,290.87,"1,250.44",287.42
14,14,Total non-current assets,"63,058.1","61,222.18","61,603.34"
15,15,Current assets [Abstract],,,
16,16,Inventories,"(D) 5,288.9","(E) 4,878.28","4,804.6"
17,17,Current financial assets [Abstract],,,
18,18,Current investments,"3,649.96","3,366.99","3,099.07"
19,19,"Trade receivables, current",0,0,0
20,20,Cash and cash equivalents,"4,055.57",43.72,"4,025.94"
21,21,"Loans, current","25,803.91","29,153.27","17,141.32"
22,22,Other current financial assets,78.15,29.57,55.98
23,23,Total current financial assets,"33,587.59","32,593.55","24,322.31"
24,24,Other current assets,"1,846.13","1,371.91","2,368.87"
25,25,Total current assets,"40,722.62","38,843.74","31,495.78"
26,26,Total assets,"1,03,780.72","1,00,065.92","93,099.12"
27,27,Equity and liabilities [Abstract],,,
28,28,Equity [Abstract],,,
29,29,Equity attributable to owners of parent [Abstr...,,,
30,30,Equity share capital,"7,700","7,700","7,700"
31,31,Other equity,"73,563.15","69,109.71","66,962.49"
32,32,Total equity attributable to owners of parent,"81,263.15","76,809.71","74,662.49"
33,33,Total equity,"81,263.15","76,809.71","74,662.49"
34,34,Liabilities [Abstract],,,
35,35,Non-current liabilities [Abstract],,,
36,36,Non-current financial liabilities [Abstract],,,
37,37,"Borrowings, non-current",0,0,0
38,38,Other non-current financial liabilities,657.12,763.67,844.93
39,39,Total non-current financial liabilities,657.12,763.67,844.93
40,40,"Provisions, non-current","4,019.73","3,483.78","2,978.1"
41,41,Deferred tax liabilities (net),"5,276.61","5,057.62","4,613.88"
42,42,Total non-current liabilities,"9,953.46","9,305.07","8,436.91"
43,43,Current liabilities [Abstract],,,
44,44,Current financial liabilities [Abstract],,,
45,45,"Borrowings, current",0,0,0
46,46,"Trade payables, current","(F) 8,467.43","(G) 7,397.77","(H) 6,612.33"
47,47,Other current financial liabilities,"2,028.81","1,966.61","1,723.35"
48,48,Total current financial liabilities,"10,496.24","9,364.38","8,335.68"
49,49,Other current liabilities,717.65,"2,902.11",637.9
50,50,"Provisions, current","1,046.13","1,349.03",692.1
51,51,Current tax liabilities,304.09,335.62,334.04
52,52,Total current liabilities,"12,564.11","13,951.14","9,999.72"
53,53,Total liabilities,"22,517.57","23,256.21","18,436.63"
54,54,Total equity and liabilities,"1,03,780.72","1,00,065.92","93,099.12"

In [4]:
## only to read a set of columns
# filtering columns from data
df = pd.read_sql_table("table_name_for_df", engine,columns=['1','2'])
df

                1              2
0      31/03/2017     31/03/2016
1
2
3
4       53,514.57      48,595.62
5        3,167.94       5,322.92
6          929.43       1,054.62
7          234.36         535.01
8
9               0              0
10         111.34         111.57
11         111.34         111.57
12  (A)  4,809.59     (B)  4,352
13         290.87       1,250.44
14       63,058.1      61,222.18
15
16   (D)  5,288.9  (E)  4,878.28
17
18       3,649.96       3,366.99
19              0              0
20       4,055.57          43.72
21      25,803.91      29,153.27
22          78.15          29.57
23      33,587.59      32,593.55
24       1,846.13       1,371.91
25      40,722.62      38,843.74
26    1,03,780.72    1,00,065.92
27
28
29
30          7,700          7,700
31      73,563.15      69,109.71
32      81,263.15      76,809.71
33      81,263.15      76,809.71
34
35
36
37              0              0
38         657.12         763.67
39         657.12         763.67
40       4,019.73       3,483.78
41       5,276.61       5,057.62
42       9,953.46       9,305.07
43
44
45              0              0
46  (F)  8,467.43  (G)  7,397.77
47       2,028.81       1,966.61
48      10,496.24       9,364.38
49         717.65       2,902.11
50       1,046.13       1,349.03
51         304.09         335.62
52      12,564.11      13,951.14
53      22,517.57      23,256.21
54    1,03,780.72    1,00,065.92

In [5]:
## Using sql query method to query data
query = '''
select * from table_name_for_df
'''
df = pd.read_sql_query(query, engine)
df

,index,0,1,2,3
0,0,,31/03/2017,31/03/2016,31/03/2015
1,1,Balance sheet [Abstract],,,
2,2,Assets [Abstract],,,
3,3,Non-current assets [Abstract],,,
4,4,"Property, plant and equipment","53,514.57","48,595.62","48,898.08"
5,5,Capital work-in-progress,"3,167.94","5,322.92","6,987.43"
6,6,Other intangible assets,929.43,"1,054.62",496.25
7,7,Intangible assets under development,234.36,535.01,624.65
8,8,Non-current financial assets [Abstract],,,
9,9,Non-current investments,0,0,0
10,10,"Loans, non-current",111.34,111.57,138.9
11,11,Total non-current financial assets,111.34,111.57,138.9
12,12,Deferred tax assets (net),"(A) 4,809.59","(B) 4,352","(C) 4,170.61"
13,13,Other non-current assets,290.87,"1,250.44",287.42
14,14,Total non-current assets,"63,058.1","61,222.18","61,603.34"
15,15,Current assets [Abstract],,,
16,16,Inventories,"(D) 5,288.9","(E) 4,878.28","4,804.6"
17,17,Current financial assets [Abstract],,,
18,18,Current investments,"3,649.96","3,366.99","3,099.07"
19,19,"Trade receivables, current",0,0,0
20,20,Cash and cash equivalents,"4,055.57",43.72,"4,025.94"
21,21,"Loans, current","25,803.91","29,153.27","17,141.32"
22,22,Other current financial assets,78.15,29.57,55.98
23,23,Total current financial assets,"33,587.59","32,593.55","24,322.31"
24,24,Other current assets,"1,846.13","1,371.91","2,368.87"
25,25,Total current assets,"40,722.62","38,843.74","31,495.78"
26,26,Total assets,"1,03,780.72","1,00,065.92","93,099.12"
27,27,Equity and liabilities [Abstract],,,
28,28,Equity [Abstract],,,
29,29,Equity attributable to owners of parent [Abstr...,,,
30,30,Equity share capital,"7,700","7,700","7,700"
31,31,Other equity,"73,563.15","69,109.71","66,962.49"
32,32,Total equity attributable to owners of parent,"81,263.15","76,809.71","74,662.49"
33,33,Total equity,"81,263.15","76,809.71","74,662.49"
34,34,Liabilities [Abstract],,,
35,35,Non-current liabilities [Abstract],,,
36,36,Non-current financial liabilities [Abstract],,,
37,37,"Borrowings, non-current",0,0,0
38,38,Other non-current financial liabilities,657.12,763.67,844.93
39,39,Total non-current financial liabilities,657.12,763.67,844.93
40,40,"Provisions, non-current","4,019.73","3,483.78","2,978.1"
41,41,Deferred tax liabilities (net),"5,276.61","5,057.62","4,613.88"
42,42,Total non-current liabilities,"9,953.46","9,305.07","8,436.91"
43,43,Current liabilities [Abstract],,,
44,44,Current financial liabilities [Abstract],,,
45,45,"Borrowings, current",0,0,0
46,46,"Trade payables, current","(F) 8,467.43","(G) 7,397.77","(H) 6,612.33"
47,47,Other current financial liabilities,"2,028.81","1,966.61","1,723.35"
48,48,Total current financial liabilities,"10,496.24","9,364.38","8,335.68"
49,49,Other current liabilities,717.65,"2,902.11",637.9
50,50,"Provisions, current","1,046.13","1,349.03",692.1
51,51,Current tax liabilities,304.09,335.62,334.04
52,52,Total current liabilities,"12,564.11","13,951.14","9,999.72"
53,53,Total liabilities,"22,517.57","23,256.21","18,436.63"
54,54,Total equity and liabilities,"1,03,780.72","1,00,065.92","93,099.12"

In [19]:
df[df['1'].str.contains("Total liabilities")]

KeyError: '1'

In [6]:
# # renaming a columns
# df.rename(columns = {
#     '0': 'Abstract Information',
#     '1': '2017 Dates'
# }, inplace = True)
# df

In [25]:
## Writing data from df to sql
df = pd.read_csv("foo.csv")
df

,Unnamed: 0,31/03/2017,31/03/2016,31/03/2015
0,Balance sheet [Abstract],NaN,NaN,NaN
1,Assets [Abstract],NaN,NaN,NaN
2,Non-current assets [Abstract],NaN,NaN,NaN
3,"Property, plant and equipment","53,514.57","48,595.62","48,898.08"
4,Capital work-in-progress,"3,167.94","5,322.92","6,987.43"
5,Other intangible assets,929.43,"1,054.62",496.25
6,Intangible assets under development,234.36,535.01,624.65
7,Non-current financial assets [Abstract],NaN,NaN,NaN
8,Non-current investments,0,0,0
9,"Loans, non-current",111.34,111.57,138.9
10,Total non-current financial assets,111.34,111.57,138.9
11,Deferred tax assets (net),"(A) 4,809.59","(B) 4,352","(C) 4,170.61"
12,Other non-current assets,290.87,"1,250.44",287.42
13,Total non-current assets,"63,058.1","61,222.18","61,603.34"
14,Current assets [Abstract],NaN,NaN,NaN
15,Inventories,"(D) 5,288.9","(E) 4,878.28","4,804.6"
16,Current financial assets [Abstract],NaN,NaN,NaN
17,Current investments,"3,649.96","3,366.99","3,099.07"
18,"Trade receivables, current",0,0,0
19,Cash and cash equivalents,"4,055.57",43.72,"4,025.94"
20,"Loans, current","25,803.91","29,153.27","17,141.32"
21,Other current financial assets,78.15,29.57,55.98
22,Total current financial assets,"33,587.59","32,593.55","24,322.31"
23,Other current assets,"1,846.13","1,371.91","2,368.87"
24,Total current assets,"40,722.62","38,843.74","31,495.78"
25,Total assets,"1,03,780.72","1,00,065.92","93,099.12"
26,Equity and liabilities [Abstract],NaN,NaN,NaN
27,Equity [Abstract],NaN,NaN,NaN
28,Equity attributable to owners of parent [Abstr...,NaN,NaN,NaN
29,Equity share capital,"7,700","7,700","7,700"
30,Other equity,"73,563.15","69,109.71","66,962.49"
31,Total equity attributable to owners of parent,"81,263.15","76,809.71","74,662.49"
32,Total equity,"81,263.15","76,809.71","74,662.49"
33,Liabilities [Abstract],NaN,NaN,NaN
34,Non-current liabilities [Abstract],NaN,NaN,NaN
35,Non-current financial liabilities [Abstract],NaN,NaN,NaN
36,"Borrowings, non-current",0,0,0
37,Other non-current financial liabilities,657.12,763.67,844.93
38,Total non-current financial liabilities,657.12,763.67,844.93
39,"Provisions, non-current","4,019.73","3,483.78","2,978.1"
40,Deferred tax liabilities (net),"5,276.61","5,057.62","4,613.88"
41,Total non-current liabilities,"9,953.46","9,305.07","8,436.91"
42,Current liabilities [Abstract],NaN,NaN,NaN
43,Current financial liabilities [Abstract],NaN,NaN,NaN
44,"Borrowings, current",0,0,0
45,"Trade payables, current","(F) 8,467.43","(G) 7,397.77","(H) 6,612.33"
46,Other current financial liabilities,"2,028.81","1,966.61","1,723.35"
47,Total current financial liabilities,"10,496.24","9,364.38","8,335.68"
48,Other current liabilities,717.65,"2,902.11",637.9
49,"Provisions, current","1,046.13","1,349.03",692.1
50,Current tax liabilities,304.09,335.62,334.04
51,Total current liabilities,"12,564.11","13,951.14","9,999.72"
52,Total liabilities,"22,517.57","23,256.21","18,436.63"
53,Total equity and liabilities,"1,03,780.72","1,00,065.92","93,099.12"

In [35]:
## Copy all the 20 data points
df_test = df[df['Unnamed: 0'].str.contains("Total liabilities")]
df_test
## Reference Link https://stackoverflow.com/a/22846437/7999665

           Unnamed: 0 31/03/2017 31/03/2016 31/03/2015
52  Total liabilities  22,517.57  23,256.21  18,436.63

In [38]:
## Converting columns into rows
df_multi = pd.melt(df_test, id_vars=['Unnamed: 0'],
                  var_name='Dates', value_name="value")

## Refernce Link https://stackoverflow.com/a/28654127/7999665

In [39]:
print(df_multi)

          Unnamed: 0       Dates      value
0  Total liabilities  31/03/2017  22,517.57
1  Total liabilities  31/03/2016  23,256.21
2  Total liabilities  31/03/2015  18,436.63

In [ ]:
## Appending data to the database table
df_multi.to_sql( 
    name = 'newTestingTable',
    con = engine,
    index = True,
    if_exists = 'append'
)

In [ ]:
# df.set_index(['Unnamed: 0', ])

In [8]:
df.to_sql( 
    name = 'newTestingTable',
    con = engine,
    index = True,
    if_exists = 'append'
)

In [9]:
df

,Unnamed: 0,31/03/2017,31/03/2016,31/03/2015
0,Balance sheet [Abstract],NaN,NaN,NaN
1,Assets [Abstract],NaN,NaN,NaN
2,Non-current assets [Abstract],NaN,NaN,NaN
3,"Property, plant and equipment","53,514.57","48,595.62","48,898.08"
4,Capital work-in-progress,"3,167.94","5,322.92","6,987.43"
5,Other intangible assets,929.43,"1,054.62",496.25
6,Intangible assets under development,234.36,535.01,624.65
7,Non-current financial assets [Abstract],NaN,NaN,NaN
8,Non-current investments,0,0,0
9,"Loans, non-current",111.34,111.57,138.9
10,Total non-current financial assets,111.34,111.57,138.9
11,Deferred tax assets (net),"(A) 4,809.59","(B) 4,352","(C) 4,170.61"
12,Other non-current assets,290.87,"1,250.44",287.42
13,Total non-current assets,"63,058.1","61,222.18","61,603.34"
14,Current assets [Abstract],NaN,NaN,NaN
15,Inventories,"(D) 5,288.9","(E) 4,878.28","4,804.6"
16,Current financial assets [Abstract],NaN,NaN,NaN
17,Current investments,"3,649.96","3,366.99","3,099.07"
18,"Trade receivables, current",0,0,0
19,Cash and cash equivalents,"4,055.57",43.72,"4,025.94"
20,"Loans, current","25,803.91","29,153.27","17,141.32"
21,Other current financial assets,78.15,29.57,55.98
22,Total current financial assets,"33,587.59","32,593.55","24,322.31"
23,Other current assets,"1,846.13","1,371.91","2,368.87"
24,Total current assets,"40,722.62","38,843.74","31,495.78"
25,Total assets,"1,03,780.72","1,00,065.92","93,099.12"
26,Equity and liabilities [Abstract],NaN,NaN,NaN
27,Equity [Abstract],NaN,NaN,NaN
28,Equity attributable to owners of parent [Abstr...,NaN,NaN,NaN
29,Equity share capital,"7,700","7,700","7,700"
30,Other equity,"73,563.15","69,109.71","66,962.49"
31,Total equity attributable to owners of parent,"81,263.15","76,809.71","74,662.49"
32,Total equity,"81,263.15","76,809.71","74,662.49"
33,Liabilities [Abstract],NaN,NaN,NaN
34,Non-current liabilities [Abstract],NaN,NaN,NaN
35,Non-current financial liabilities [Abstract],NaN,NaN,NaN
36,"Borrowings, non-current",0,0,0
37,Other non-current financial liabilities,657.12,763.67,844.93
38,Total non-current financial liabilities,657.12,763.67,844.93
39,"Provisions, non-current","4,019.73","3,483.78","2,978.1"
40,Deferred tax liabilities (net),"5,276.61","5,057.62","4,613.88"
41,Total non-current liabilities,"9,953.46","9,305.07","8,436.91"
42,Current liabilities [Abstract],NaN,NaN,NaN
43,Current financial liabilities [Abstract],NaN,NaN,NaN
44,"Borrowings, current",0,0,0
45,"Trade payables, current","(F) 8,467.43","(G) 7,397.77","(H) 6,612.33"
46,Other current financial liabilities,"2,028.81","1,966.61","1,723.35"
47,Total current financial liabilities,"10,496.24","9,364.38","8,335.68"
48,Other current liabilities,717.65,"2,902.11",637.9
49,"Provisions, current","1,046.13","1,349.03",692.1
50,Current tax liabilities,304.09,335.62,334.04
51,Total current liabilities,"12,564.11","13,951.14","9,999.72"
52,Total liabilities,"22,517.57","23,256.21","18,436.63"
53,Total equity and liabilities,"1,03,780.72","1,00,065.92","93,099.12"

In [10]:
## Using sql query method to query data
query = '''
select * from finalTesting
'''
df3 = pd.read_sql_query(query, engine)
df3['years'] = '2017'
df3

,index,Unnamed: 0,31/03/2017,31/03/2016,31/03/2015,years
0,0,Balance sheet [Abstract],None,None,None,2017
1,1,Assets [Abstract],None,None,None,2017
2,2,Non-current assets [Abstract],None,None,None,2017
3,3,"Property, plant and equipment","53,514.57","48,595.62","48,898.08",2017
4,4,Capital work-in-progress,"3,167.94","5,322.92","6,987.43",2017
5,5,Other intangible assets,929.43,"1,054.62",496.25,2017
6,6,Intangible assets under development,234.36,535.01,624.65,2017
7,7,Non-current financial assets [Abstract],None,None,None,2017
8,8,Non-current investments,0,0,0,2017
9,9,"Loans, non-current",111.34,111.57,138.9,2017
10,10,Total non-current financial assets,111.34,111.57,138.9,2017
11,11,Deferred tax assets (net),"(A) 4,809.59","(B) 4,352","(C) 4,170.61",2017
12,12,Other non-current assets,290.87,"1,250.44",287.42,2017
13,13,Total non-current assets,"63,058.1","61,222.18","61,603.34",2017
14,14,Current assets [Abstract],None,None,None,2017
15,15,Inventories,"(D) 5,288.9","(E) 4,878.28","4,804.6",2017
16,16,Current financial assets [Abstract],None,None,None,2017
17,17,Current investments,"3,649.96","3,366.99","3,099.07",2017
18,18,"Trade receivables, current",0,0,0,2017
19,19,Cash and cash equivalents,"4,055.57",43.72,"4,025.94",2017
20,20,"Loans, current","25,803.91","29,153.27","17,141.32",2017
21,21,Other current financial assets,78.15,29.57,55.98,2017
22,22,Total current financial assets,"33,587.59","32,593.55","24,322.31",2017
23,23,Other current assets,"1,846.13","1,371.91","2,368.87",2017
24,24,Total current assets,"40,722.62","38,843.74","31,495.78",2017
25,25,Total assets,"1,03,780.72","1,00,065.92","93,099.12",2017
26,26,Equity and liabilities [Abstract],None,None,None,2017
27,27,Equity [Abstract],None,None,None,2017
28,28,Equity attributable to owners of parent [Abstr...,None,None,None,2017
29,29,Equity share capital,"7,700","7,700","7,700",2017
30,30,Other equity,"73,563.15","69,109.71","66,962.49",2017
31,31,Total equity attributable to owners of parent,"81,263.15","76,809.71","74,662.49",2017
32,32,Total equity,"81,263.15","76,809.71","74,662.49",2017
33,33,Liabilities [Abstract],None,None,None,2017
34,34,Non-current liabilities [Abstract],None,None,None,2017
35,35,Non-current financial liabilities [Abstract],None,None,None,2017
36,36,"Borrowings, non-current",0,0,0,2017
37,37,Other non-current financial liabilities,657.12,763.67,844.93,2017
38,38,Total non-current financial liabilities,657.12,763.67,844.93,2017
39,39,"Provisions, non-current","4,019.73","3,483.78","2,978.1",2017
40,40,Deferred tax liabilities (net),"5,276.61","5,057.62","4,613.88",2017
41,41,Total non-current liabilities,"9,953.46","9,305.07","8,436.91",2017
42,42,Current liabilities [Abstract],None,None,None,2017
43,43,Current financial liabilities [Abstract],None,None,None,2017
44,44,"Borrowings, current",0,0,0,2017
45,45,"Trade payables, current","(F) 8,467.43","(G) 7,397.77","(H) 6,612.33",2017
46,46,Other current financial liabilities,"2,028.81","1,966.61","1,723.35",2017
47,47,Total current financial liabilities,"10,496.24","9,364.38","8,335.68",2017
48,48,Other current liabilities,717.65,"2,902.11",637.9,2017
49,49,"Provisions, current","1,046.13","1,349.03",692.1,2017
50,50,Current tax liabilities,304.09,335.62,334.04,2017
51,51,Total current liabilities,"12,564.11","13,951.14","9,999.72",2017
52,52,Total liabilities,"22,517.57","23,256.21","18,436.63",2017
53,53,Total equity and liabilities,"1,03,780.72","1,00,065.92","93,099.12",2017

In [11]:
# df3.pivot_table(columns='Unnamed: 0',
#                         values='31/03/2017',
#                         index = 'years'
#                         )
df2017 = df3.set_index(['years','Unnamed: 0']).unstack().reset_index()
df2017

           years             index                           \
Unnamed: 0       Assets [Abstract] Balance sheet [Abstract]
0           2017                 1                        0

                                                        \
Unnamed: 0 Borrowings, current Borrowings, non-current
0                           44                      36

                                                               \
Unnamed: 0 Capital work-in-progress Cash and cash equivalents
0                                 4                        19

                                                                          \
Unnamed: 0 Current assets [Abstract] Current financial assets [Abstract]
0                                 14                                  16

                                                     \
Unnamed: 0 Current financial liabilities [Abstract]
0                                                43

                      ...               31/03/2015  \
Unnamed: 0            ...             Total equity
0                     ...                74,662.49

                                         \
Unnamed: 0 Total equity and liabilities
0                             93,099.12

                                                                            \
Unnamed: 0 Total equity attributable to owners of parent Total liabilities
0                                              74,662.49         18,436.63

                                                                        \
Unnamed: 0 Total non-current assets Total non-current financial assets
0                         61,603.34                              138.9

                                                    \
Unnamed: 0 Total non-current financial liabilities
0                                           844.93

                                                                  \
Unnamed: 0 Total non-current liabilities Trade payables, current
0                               8,436.91           (H)  6,612.33


Unnamed: 0 Trade receivables, current
0                                   0

[1 rows x 217 columns]

In [12]:
df2017.to_sql( 
    name = '2017TestingTable',
    con = engine,
    index = True,
    if_exists = 'replace'
)

InternalError: (pymysql.err.InternalError) (1059, "Identifier name '('31/03/2017', 'Equity attributable to owners of parent [Abstract]')' is too long") [SQL: "\nCREATE TABLE `2017TestingTable` (\n\tlevel_0 BIGINT, \n\t`('years', '')` TEXT, \n\t`('index', 'Assets [Abstract]')` BIGINT, \n\t`('index', 'Balance sheet [Abstract]')` BIGINT, \n\t`('index', 'Borrowings, current')` BIGINT, \n\t`('index', 'Borrowings, non-current')` BIGINT, \n\t`('index', 'Capital work-in-progress')` BIGINT, \n\t`('index', 'Cash and cash equivalents')` BIGINT, \n\t`('index', 'Current assets [Abstract]')` BIGINT, \n\t`('index', 'Current financial assets [Abstract]')` BIGINT, \n\t`('index', 'Current financial liabilities [Abstract]')` BIGINT, \n\t`('index', 'Current investments')` BIGINT, \n\t`('index', 'Current liabilities [Abstract]')` BIGINT, \n\t`('index', 'Current tax liabilities')` BIGINT, \n\t`('index', 'Deferred tax assets (net)')` BIGINT, \n\t`('index', 'Deferred tax liabilities (net)')` BIGINT, \n\t`('index', 'Equity [Abstract]')` BIGINT, \n\t`('index', 'Equity and liabilities [Abstract]')` BIGINT, \n\t`('index', 'Equity attributable to owners of parent [Abstract]')` BIGINT, \n\t`('index', 'Equity share capital')` BIGINT, \n\t`('index', 'Intangible assets under development')` BIGINT, \n\t`('index', 'Inventories')` BIGINT, \n\t`('index', 'Liabilities [Abstract]')` BIGINT, \n\t`('index', 'Loans, current')` BIGINT, \n\t`('index', 'Loans, non-current')` BIGINT, \n\t`('index', 'Non-current assets [Abstract]')` BIGINT, \n\t`('index', 'Non-current financial assets [Abstract]')` BIGINT, \n\t`('index', 'Non-current financial liabilities [Abstract]')` BIGINT, \n\t`('index', 'Non-current investments')` BIGINT, \n\t`('index', 'Non-current liabilities [Abstract]')` BIGINT, \n\t`('index', 'Other current assets')` BIGINT, \n\t`('index', 'Other current financial assets')` BIGINT, \n\t`('index', 'Other current financial liabilities')` BIGINT, \n\t`('index', 'Other current liabilities')` BIGINT, \n\t`('index', 'Other equity')` BIGINT, \n\t`('index', 'Other intangible assets')` BIGINT, \n\t`('index', 'Other non-current assets')` BIGINT, \n\t`('index', 'Other non-current financial liabilities')` BIGINT, \n\t`('index', 'Property, plant and equipment')` BIGINT, \n\t`('index', 'Provisions, current')` BIGINT, \n\t`('index', 'Provisions, non-current')` BIGINT, \n\t`('index', 'Total assets')` BIGINT, \n\t`('index', 'Total current assets')` BIGINT, \n\t`('index', 'Total current financial assets')` BIGINT, \n\t`('index', 'Total current financial liabilities')` BIGINT, \n\t`('index', 'Total current liabilities')` BIGINT, \n\t`('index', 'Total equity')` BIGINT, \n\t`('index', 'Total equity and liabilities')` BIGINT, \n\t`('index', 'Total equity attributable to owners of parent')` BIGINT, \n\t`('index', 'Total liabilities')` BIGINT, \n\t`('index', 'Total non-current assets')` BIGINT, \n\t`('index', 'Total non-current financial assets')` BIGINT, \n\t`('index', 'Total non-current financial liabilities')` BIGINT, \n\t`('index', 'Total non-current liabilities')` BIGINT, \n\t`('index', 'Trade payables, current')` BIGINT, \n\t`('index', 'Trade receivables, current')` BIGINT, \n\t`('31/03/2017', 'Assets [Abstract]')` TEXT, \n\t`('31/03/2017', 'Balance sheet [Abstract]')` TEXT, \n\t`('31/03/2017', 'Borrowings, current')` TEXT, \n\t`('31/03/2017', 'Borrowings, non-current')` TEXT, \n\t`('31/03/2017', 'Capital work-in-progress')` TEXT, \n\t`('31/03/2017', 'Cash and cash equivalents')` TEXT, \n\t`('31/03/2017', 'Current assets [Abstract]')` TEXT, \n\t`('31/03/2017', 'Current financial assets [Abstract]')` TEXT, \n\t`('31/03/2017', 'Current financial liabilities [Abstract]')` TEXT, \n\t`('31/03/2017', 'Current investments')` TEXT, \n\t`('31/03/2017', 'Current liabilities [Abstract]')` TEXT, \n\t`('31/03/2017', 'Current tax liabilities')` TEXT, \n\t`('31/03/2017', 'Deferred tax assets (net)')` TEXT, \n\t`('31/03/2017', 'Deferred tax liabilities (net)')` TEXT, \n\t`('31/03/2017', 'Equity [Abstract]')` TEXT, \n\t`('31/03/2017', 'Equity and liabilities [Abstract]')` TEXT, \n\t`('31/03/2017', 'Equity attributable to owners of parent [Abstract]')` TEXT, \n\t`('31/03/2017', 'Equity share capital')` TEXT, \n\t`('31/03/2017', 'Intangible assets under development')` TEXT, \n\t`('31/03/2017', 'Inventories')` TEXT, \n\t`('31/03/2017', 'Liabilities [Abstract]')` TEXT, \n\t`('31/03/2017', 'Loans, current')` TEXT, \n\t`('31/03/2017', 'Loans, non-current')` TEXT, \n\t`('31/03/2017', 'Non-current assets [Abstract]')` TEXT, \n\t`('31/03/2017', 'Non-current financial assets [Abstract]')` TEXT, \n\t`('31/03/2017', 'Non-current financial liabilities [Abstract]')` TEXT, \n\t`('31/03/2017', 'Non-current investments')` TEXT, \n\t`('31/03/2017', 'Non-current liabilities [Abstract]')` TEXT, \n\t`('31/03/2017', 'Other current assets')` TEXT, \n\t`('31/03/2017', 'Other current financial assets')` TEXT, \n\t`('31/03/2017', 'Other current financial liabilities')` TEXT, \n\t`('31/03/2017', 'Other current liabilities')` TEXT, \n\t`('31/03/2017', 'Other equity')` TEXT, \n\t`('31/03/2017', 'Other intangible assets')` TEXT, \n\t`('31/03/2017', 'Other non-current assets')` TEXT, \n\t`('31/03/2017', 'Other non-current financial liabilities')` TEXT, \n\t`('31/03/2017', 'Property, plant and equipment')` TEXT, \n\t`('31/03/2017', 'Provisions, current')` TEXT, \n\t`('31/03/2017', 'Provisions, non-current')` TEXT, \n\t`('31/03/2017', 'Total assets')` TEXT, \n\t`('31/03/2017', 'Total current assets')` TEXT, \n\t`('31/03/2017', 'Total current financial assets')` TEXT, \n\t`('31/03/2017', 'Total current financial liabilities')` TEXT, \n\t`('31/03/2017', 'Total current liabilities')` TEXT, \n\t`('31/03/2017', 'Total equity')` TEXT, \n\t`('31/03/2017', 'Total equity and liabilities')` TEXT, \n\t`('31/03/2017', 'Total equity attributable to owners of parent')` TEXT, \n\t`('31/03/2017', 'Total liabilities')` TEXT, \n\t`('31/03/2017', 'Total non-current assets')` TEXT, \n\t`('31/03/2017', 'Total non-current financial assets')` TEXT, \n\t`('31/03/2017', 'Total non-current financial liabilities')` TEXT, \n\t`('31/03/2017', 'Total non-current liabilities')` TEXT, \n\t`('31/03/2017', 'Trade payables, current')` TEXT, \n\t`('31/03/2017', 'Trade receivables, current')` TEXT, \n\t`('31/03/2016', 'Assets [Abstract]')` TEXT, \n\t`('31/03/2016', 'Balance sheet [Abstract]')` TEXT, \n\t`('31/03/2016', 'Borrowings, current')` TEXT, \n\t`('31/03/2016', 'Borrowings, non-current')` TEXT, \n\t`('31/03/2016', 'Capital work-in-progress')` TEXT, \n\t`('31/03/2016', 'Cash and cash equivalents')` TEXT, \n\t`('31/03/2016', 'Current assets [Abstract]')` TEXT, \n\t`('31/03/2016', 'Current financial assets [Abstract]')` TEXT, \n\t`('31/03/2016', 'Current financial liabilities [Abstract]')` TEXT, \n\t`('31/03/2016', 'Current investments')` TEXT, \n\t`('31/03/2016', 'Current liabilities [Abstract]')` TEXT, \n\t`('31/03/2016', 'Current tax liabilities')` TEXT, \n\t`('31/03/2016', 'Deferred tax assets (net)')` TEXT, \n\t`('31/03/2016', 'Deferred tax liabilities (net)')` TEXT, \n\t`('31/03/2016', 'Equity [Abstract]')` TEXT, \n\t`('31/03/2016', 'Equity and liabilities [Abstract]')` TEXT, \n\t`('31/03/2016', 'Equity attributable to owners of parent [Abstract]')` TEXT, \n\t`('31/03/2016', 'Equity share capital')` TEXT, \n\t`('31/03/2016', 'Intangible assets under development')` TEXT, \n\t`('31/03/2016', 'Inventories')` TEXT, \n\t`('31/03/2016', 'Liabilities [Abstract]')` TEXT, \n\t`('31/03/2016', 'Loans, current')` TEXT, \n\t`('31/03/2016', 'Loans, non-current')` TEXT, \n\t`('31/03/2016', 'Non-current assets [Abstract]')` TEXT, \n\t`('31/03/2016', 'Non-current financial assets [Abstract]')` TEXT, \n\t`('31/03/2016', 'Non-current financial liabilities [Abstract]')` TEXT, \n\t`('31/03/2016', 'Non-current investments')` TEXT, \n\t`('31/03/2016', 'Non-current liabilities [Abstract]')` TEXT, \n\t`('31/03/2016', 'Other current assets')` TEXT, \n\t`('31/03/2016', 'Other current financial assets')` TEXT, \n\t`('31/03/2016', 'Other current financial liabilities')` TEXT, \n\t`('31/03/2016', 'Other current liabilities')` TEXT, \n\t`('31/03/2016', 'Other equity')` TEXT, \n\t`('31/03/2016', 'Other intangible assets')` TEXT, \n\t`('31/03/2016', 'Other non-current assets')` TEXT, \n\t`('31/03/2016', 'Other non-current financial liabilities')` TEXT, \n\t`('31/03/2016', 'Property, plant and equipment')` TEXT, \n\t`('31/03/2016', 'Provisions, current')` TEXT, \n\t`('31/03/2016', 'Provisions, non-current')` TEXT, \n\t`('31/03/2016', 'Total assets')` TEXT, \n\t`('31/03/2016', 'Total current assets')` TEXT, \n\t`('31/03/2016', 'Total current financial assets')` TEXT, \n\t`('31/03/2016', 'Total current financial liabilities')` TEXT, \n\t`('31/03/2016', 'Total current liabilities')` TEXT, \n\t`('31/03/2016', 'Total equity')` TEXT, \n\t`('31/03/2016', 'Total equity and liabilities')` TEXT, \n\t`('31/03/2016', 'Total equity attributable to owners of parent')` TEXT, \n\t`('31/03/2016', 'Total liabilities')` TEXT, \n\t`('31/03/2016', 'Total non-current assets')` TEXT, \n\t`('31/03/2016', 'Total non-current financial assets')` TEXT, \n\t`('31/03/2016', 'Total non-current financial liabilities')` TEXT, \n\t`('31/03/2016', 'Total non-current liabilities')` TEXT, \n\t`('31/03/2016', 'Trade payables, current')` TEXT, \n\t`('31/03/2016', 'Trade receivables, current')` TEXT, \n\t`('31/03/2015', 'Assets [Abstract]')` TEXT, \n\t`('31/03/2015', 'Balance sheet [Abstract]')` TEXT, \n\t`('31/03/2015', 'Borrowings, current')` TEXT, \n\t`('31/03/2015', 'Borrowings, non-current')` TEXT, \n\t`('31/03/2015', 'Capital work-in-progress')` TEXT, \n\t`('31/03/2015', 'Cash and cash equivalents')` TEXT, \n\t`('31/03/2015', 'Current assets [Abstract]')` TEXT, \n\t`('31/03/2015', 'Current financial assets [Abstract]')` TEXT, \n\t`('31/03/2015', 'Current financial liabilities [Abstract]')` TEXT, \n\t`('31/03/2015', 'Current investments')` TEXT, \n\t`('31/03/2015', 'Current liabilities [Abstract]')` TEXT, \n\t`('31/03/2015', 'Current tax liabilities')` TEXT, \n\t`('31/03/2015', 'Deferred tax assets (net)')` TEXT, \n\t`('31/03/2015', 'Deferred tax liabilities (net)')` TEXT, \n\t`('31/03/2015', 'Equity [Abstract]')` TEXT, \n\t`('31/03/2015', 'Equity and liabilities [Abstract]')` TEXT, \n\t`('31/03/2015', 'Equity attributable to owners of parent [Abstract]')` TEXT, \n\t`('31/03/2015', 'Equity share capital')` TEXT, \n\t`('31/03/2015', 'Intangible assets under development')` TEXT, \n\t`('31/03/2015', 'Inventories')` TEXT, \n\t`('31/03/2015', 'Liabilities [Abstract]')` TEXT, \n\t`('31/03/2015', 'Loans, current')` TEXT, \n\t`('31/03/2015', 'Loans, non-current')` TEXT, \n\t`('31/03/2015', 'Non-current assets [Abstract]')` TEXT, \n\t`('31/03/2015', 'Non-current financial assets [Abstract]')` TEXT, \n\t`('31/03/2015', 'Non-current financial liabilities [Abstract]')` TEXT, \n\t`('31/03/2015', 'Non-current investments')` TEXT, \n\t`('31/03/2015', 'Non-current liabilities [Abstract]')` TEXT, \n\t`('31/03/2015', 'Other current assets')` TEXT, \n\t`('31/03/2015', 'Other current financial assets')` TEXT, \n\t`('31/03/2015', 'Other current financial liabilities')` TEXT, \n\t`('31/03/2015', 'Other current liabilities')` TEXT, \n\t`('31/03/2015', 'Other equity')` TEXT, \n\t`('31/03/2015', 'Other intangible assets')` TEXT, \n\t`('31/03/2015', 'Other non-current assets')` TEXT, \n\t`('31/03/2015', 'Other non-current financial liabilities')` TEXT, \n\t`('31/03/2015', 'Property, plant and equipment')` TEXT, \n\t`('31/03/2015', 'Provisions, current')` TEXT, \n\t`('31/03/2015', 'Provisions, non-current')` TEXT, \n\t`('31/03/2015', 'Total assets')` TEXT, \n\t`('31/03/2015', 'Total current assets')` TEXT, \n\t`('31/03/2015', 'Total current financial assets')` TEXT, \n\t`('31/03/2015', 'Total current financial liabilities')` TEXT, \n\t`('31/03/2015', 'Total current liabilities')` TEXT, \n\t`('31/03/2015', 'Total equity')` TEXT, \n\t`('31/03/2015', 'Total equity and liabilities')` TEXT, \n\t`('31/03/2015', 'Total equity attributable to owners of parent')` TEXT, \n\t`('31/03/2015', 'Total liabilities')` TEXT, \n\t`('31/03/2015', 'Total non-current assets')` TEXT, \n\t`('31/03/2015', 'Total non-current financial assets')` TEXT, \n\t`('31/03/2015', 'Total non-current financial liabilities')` TEXT, \n\t`('31/03/2015', 'Total non-current liabilities')` TEXT, \n\t`('31/03/2015', 'Trade payables, current')` TEXT, \n\t`('31/03/2015', 'Trade receivables, current')` TEXT\n)\n\n"] (Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
dfD1 = pd.read_sql_table("Years", engine)
dfD1

In [13]:
dfD2 = pd.read_sql_table("newTestingTable", engine)
dfD2

,index,Unnamed: 0,31/03/2017,31/03/2016,31/03/2015
0,0,Balance sheet [Abstract],None,None,None
1,1,Assets [Abstract],None,None,None
2,2,Non-current assets [Abstract],None,None,None
3,3,"Property, plant and equipment","53,514.57","48,595.62","48,898.08"
4,4,Capital work-in-progress,"3,167.94","5,322.92","6,987.43"
5,5,Other intangible assets,929.43,"1,054.62",496.25
6,6,Intangible assets under development,234.36,535.01,624.65
7,7,Non-current financial assets [Abstract],None,None,None
8,8,Non-current investments,0,0,0
9,9,"Loans, non-current",111.34,111.57,138.9
10,10,Total non-current financial assets,111.34,111.57,138.9
11,11,Deferred tax assets (net),"(A) 4,809.59","(B) 4,352","(C) 4,170.61"
12,12,Other non-current assets,290.87,"1,250.44",287.42
13,13,Total non-current assets,"63,058.1","61,222.18","61,603.34"
14,14,Current assets [Abstract],None,None,None
15,15,Inventories,"(D) 5,288.9","(E) 4,878.28","4,804.6"
16,16,Current financial assets [Abstract],None,None,None
17,17,Current investments,"3,649.96","3,366.99","3,099.07"
18,18,"Trade receivables, current",0,0,0
19,19,Cash and cash equivalents,"4,055.57",43.72,"4,025.94"
20,20,"Loans, current","25,803.91","29,153.27","17,141.32"
21,21,Other current financial assets,78.15,29.57,55.98
22,22,Total current financial assets,"33,587.59","32,593.55","24,322.31"
23,23,Other current assets,"1,846.13","1,371.91","2,368.87"
24,24,Total current assets,"40,722.62","38,843.74","31,495.78"
25,25,Total assets,"1,03,780.72","1,00,065.92","93,099.12"
26,26,Equity and liabilities [Abstract],None,None,None
27,27,Equity [Abstract],None,None,None
28,28,Equity attributable to owners of parent [Abstr...,None,None,None
29,29,Equity share capital,"7,700","7,700","7,700"
...,...,...,...,...,...
78,24,Total current assets,"40,722.62","38,843.74","31,495.78"
79,25,Total assets,"1,03,780.72","1,00,065.92","93,099.12"
80,26,Equity and liabilities [Abstract],None,None,None
81,27,Equity [Abstract],None,None,None
82,28,Equity attributable to owners of parent [Abstr...,None,None,None
83,29,Equity share capital,"7,700","7,700","7,700"
84,30,Other equity,"73,563.15","69,109.71","66,962.49"
85,31,Total equity attributable to owners of parent,"81,263.15","76,809.71","74,662.49"
86,32,Total equity,"81,263.15","76,809.71","74,662.49"
87,33,Liabilities [Abstract],None,None,None
88,34,Non-current liabilities [Abstract],None,None,None
89,35,Non-current financial liabilities [Abstract],None,None,None
90,36,"Borrowings, non-current",0,0,0
91,37,Other non-current financial liabilities,657.12,763.67,844.93
92,38,Total non-current financial liabilities,657.12,763.67,844.93
93,39,"Provisions, non-current","4,019.73","3,483.78","2,978.1"
94,40,Deferred tax liabilities (net),"5,276.61","5,057.62","4,613.88"
95,41,Total non-current liabilities,"9,953.46","9,305.07","8,436.91"
96,42,Current liabilities [Abstract],None,None,None
97,43,Current financial liabilities [Abstract],None,None,None
98,44,"Borrowings, current",0,0,0
99,45,"Trade payables, current","(F) 8,467.43","(G) 7,397.77","(H) 6,612.33"
100,46,Other current financial liabilities,"2,028.81","1,966.61","1,723.35"
101,47,Total current financial liabilities,"10,496.24","9,364.38","8,335.68"
102,48,Other current liabilities,717.65,"2,902.11",637.9
103,49,"Provisions, current","1,046.13","1,349.03",692.1
104,50,Current tax liabilities,304.09,335.62,334.04
105,51,Total current liabilities,"12,564.11","13,951.14","9,999.72"
106,52,Total liabilities,"22,517.57","23,256.21","18,436.63"
107,53,Total equity and liabilities,"1,03,780.72","1,00,065.92","93,099.12"

In [14]:
dfM = pd.merge(dfD1,dfD2,how='outer', on='index')
dfM

NameError: name 'dfD1' is not defined

In [15]:
df2017 = dfM.set_index(['YearsIntable','Unnamed: 0']).unstack().reset_index()
df2017

NameError: name 'dfM' is not defined