In [ ]:
print("Hello World to Python")

In [ ]:
print("Welcome Pradyum!")

In [ ]:
print("Program runs from the first Line")
print("this for string")
print("\n")
print(3.4)

#type casting
print("my python version is " + str(3))

# Variables

In [ ]:
Name = "Pradyum Gupta"
age = 24
comment = "Hello World"

In [ ]:
print(Name)
print(age)
print(comment)

### Find age of the person

What is the formula for this to find some one Age 
##### Age = Year - Date Of Birth

In [1]:
Year = 2018
DOB = 1994
Age = Year - DOB
print("Your Age is " + str(Age))

Your Age is 24

In [ ]:
#2nd Method
print("Your Age is {} and Date of Birth Year {}".format(Age,DOB))

### Python Objects

In [5]:
#in Console
x = 10
# print(id(x))
print(type(x))
#Simmilarly for float and Str

<class 'int'>

In [4]:
print("\n")

#for Float
pi = 3.14  #directly commands and not printing them
print(id(pi))
print(type(pi))

print("\n")

#For Str
Name = "Hello"
print(id(Name))
print(type(Name))

4511201632
<class 'float'>


4513572488
<class 'str'>

# Data Types Examples
https://www.google.co.in/search?q=data+types+in+python&rlz=1C5CHFA_enIN700IN700&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjbqdbs6ezbAhVDfisKHWE4CxcQ_AUICigB&biw=1280&bih=726#imgrc=5QBwulmfgjFPFM:

2.
https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjPntGL6uzbAhUNWysKHQdbCHgQjRx6BAgBEAU&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAaIdperUu-A&psig=AOvVaw07d8RYzodw3bxqrluYaiBe&ust=1529947861115017

### Variable type Strings

In [ ]:
%config IPCompleter.greedy=True #This is for AutoComplete

In [ ]:
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import json
import sqlite3

from datetime import datetime, timedelta
import pytz

pd.set_option('max_columns', 50)

mpl.style.use('ggplot')

In [15]:
Name = "Hello World"

strLen = len(Name)
print(strLen)

print("Upper Case "+ Name.upper()) #Upper for Python

print("Lower Case "+ Name.lower()) #lower for Python

# https://stackoverflow.com/a/2087703/7999665  Which is better .format or + concatenation

marks = 79
Rahul = "Total Marks " + str(marks)
print(Rahul)

print("\n")

title= "Your Grade is {}".format(79)
print(title)

11
Upper Case HELLO WORLD
Lower Case hello world
Total Marks 79


Your Grade is 79